$primary-blue: #564FD8;
$secondary-blue: #7974DD;
$secondary-orange: #FFB5A7;
$primary-grey: #CECEDC;
$deep-grey: #39383D;

$box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
$mid-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.10);
$darker-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
